body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.container {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 500px;
  width: 500px;
  background-color: white;
}

.square {
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

.message {
  font-size: 2rem;
}
